<div class="content__container">
  <div class="card">
    <h1 class="card__title">SIGN IN TO YOUR ACCOUNT</h1>

    <div class="form">
      <input class="form__input" type="email" placeholder="Username" autocomplete="off" />
      <input class="form__input" type="password" placeholder="Password" autocomplete="new-password" />
      <div class="form__checkbox">
        <input type="checkbox" />
        <label>Remember me</label>
      </div>

      <button type="submit" class="form__button">Login Now</button>
    </div>
  </div>
</div>
